# OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Vim
.*.sw[a-z]
*.un~
Session.vim

# Rust
/target

# Project
/docs/book
.idea
.vscode
.env
recordings

# Other
core
# Folder created during local deployment
k8s/
